<div class="row">
  <div class="col-md-6 col-md-offset-3 text-center">    

    <%= link_to "Sign In With Facebook", user_omniauth_authorize_path(:facebook) , class: "btn btn-primary" %>

    <%= link_to "Sign In with Google", user_omniauth_authorize_path(:google_oauth2), class: "btn btn-primary" %>

    <h2>Sign Up</h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render 'shared/devisemes' %>

      <div class="col-md-6 form-group">    
        <%= f.text_field :firstname, class: 'form-control', placeholder: 'First Name', autofocus: true %>
      </div>
      <div class="col-md-6 form-group">    
        <%= f.text_field :lastname, class: 'form-control', placeholder: 'Last Name', autofocus: true %>
      </div>

      <div class="form-group">    
        <%= f.email_field :email, :class => 'form-control', :placeholder => 'Email'%>
      </div>

      <div class="form-group">  
        <% if @validatable %>  
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, :class => 'form-control', :placeholder => 'Password',autocomplete: "off" %>
      </div>   

      <div class="actions">
        <%= f.submit "Sign up", :class => "btn btn-primary" %>
      </div>
    <% end %>

  </div>
</div>