
<!--if no courts then put "List your first court!"-->
		<!--<h4>My Courts</h4><br>
		<div class="row">
				<% @courts.each do |court| %>
				<div class="col-md-4">
					<div class="panel panel-default">
						<div class="panel-heading preview">
							<%= image_tag court.photos[0].image.url(:medium) if court.photos.length > 0 %>
						</div>
						<div class="panel-body">
							<%= link_to court.listing_name, court %><br>
							
								<span id="average_rating"></span><br>
								<%= court.reviews.count %> Review(s)<br>
								<%= court.average_rating %> Stars
							
						</div>
					</div>
				</div>

				<script>
					$('#average_rating').raty({
						path: '/assets',
						readOnly: true,
						score: <%= court.average_rating %>
					});
				</script>
				<% end %>