<div class="row">
	<div class="col-md-3 col-sm-3">
		<div class="center">
			<%= image_tag avatar_url(@user), class: "avatar-full" %>
			<h2 class="text-center"><%= @user.fullname %></h2>
			<% if current_user == @user %>
				<div class="row-space-2">
					<%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-primary wide" %>
				</div>
			<% end %>
			<% if current_user != @user %>
				<div class="row-space-2">
					<%= link_to "Send Message", conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: 'post', class: "btn btn-primary wide" %>
				</div>
			<% end %>
			<div class="description row-space-3">
			<h4 style="font-weight:bold">About Me</h4>
			<p><%= @user.description %></p>
			</div>
		</div>
		<!--<div class="panel panel-default">
			<div class="panel-heading">Verification</div>
			<div class="panel-body">
				Email Address<br>
				Phone Number
			</div>
	    </div>-->
	</div>
	<div class="col-md-9 col-sm-9">
		<!--user description-->	

		<!--user runs, if no runs, put "set your first run!"-->
		<div>
			<p style="font-weight:bold">Scheduled Runs</p>
		</div>
			<%= render 'runs/upcoming' %>			
		

		<!--<div>
			<h4 style="font-weight:bold">Runs History</h4>
		</div>-->

					
		</div>-->

		

	</div>
</div>