<!-- Static navbar -->
    <nav class="navbar navbar-default navbar-static-top">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to root_path do %>
          <p class="navbar-brand">collectif α</p>
          <% end %>
        </div>
          <%= form_tag search_path, class: "navbar-form navbar-left", method: :get do |f| %>
            <div class="form-group">
              <%= text_field_tag :name, params[:name], placeholder: "Name", class: "form-control input-sm" %>
              <%= text_field_tag :address, params[:address], placeholder: "Location", class: "form-control input-sm" %>
              <%= submit_tag "Search", class: "btn btn-primary btn-sm" %>
            </div>
          <% end %>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">

            <% if (!user_signed_in?) %>
              <li><%= link_to "Log In", new_user_session_path %></li>
              <li class="signup-button"><%= link_to "Sign Up", new_user_registration_path, class: "btn-primary", style: "color:white!important" %></li>
            <% else %>
              
              <li class="dropdown navbar-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                  <%= image_tag avatar_url(current_user), class: "img-rounded avatar-small" %>&nbsp;
                  <%= current_user.firstname %> <%= current_user.lastname %><span class="caret"></span></a>
                <!--dropdown menu-->
                <ul class="dropdown-menu">
                  <li>
                    <%= link_to user_path(current_user.id) do %>
                    <i class="fa fa-user"></i> &nbsp;&nbsp;My Profile
                    <% end %>
                  </li>
                  <li>
                    <%= link_to courts_path do %>
                    <i class="fa fa-bolt"></i> &nbsp;&nbsp;My Activity
                    <% end %>
                  </li>
                  <!--<li><a href="#">Nearby Courts</a></li>-->        
                  <li>
                    <%= link_to conversations_path do %>
                    <i class="fa fa-envelope-o"></i> &nbsp;&nbsp;Messages
                    <% end %>
                  </li>
                  <li role="separator" class="divider"></li>
                  <!--<li><a href="#">Account Settings</a></li>-->
                  <li>
                    <%= link_to edit_user_registration_path do %>
                    <i class="fa fa-pencil"></i> &nbsp;&nbsp;Edit Profile
                    <% end %>
                  </li>
                  <li>
                    <%= link_to destroy_user_session_path, method: :delete do %>
                    <i class="fa fa-power-off"></i> &nbsp;&nbsp;Log Out
                    <% end %>
                  </li>
                </ul>                
              </li>
            <% end %>
            <!--messages-->
            <!--list a court-->
            <!--<li>
              <%= link_to new_court_path do %>
              <i class="fa fa-map-marker"></i> List A Court
              <% end %>
            </li>-->
            <li>
              <%= link_to new_suggestion_path do %>
              <i class="fa fa-briefcase"></i> Suggestions
              <% end %>
            </li>           
            
            <li>&nbsp;&nbsp;&nbsp;</li>
            
          </ul><!--/.nav-collapse -->
      </div>
    </nav>