<!--open gym hours -->
							<!--<div class="panel panel-default">
								<div class="panel-heading text-center">Open Gym Hours</div>
								<div class="row text-center">
									<% if :monopentime.present? && :monclosetime.present? %>
									<div class="row">
										Mon <%= @court.monopentime.strftime('%l:%M %p') %> to <%= @court.monclosetime.strftime('%l:%M %p') %>
									</div>
									<% end%>
									<% if :tuesopentime.present? && :tuesclosetime.present? %>
									<div class="row">
										Tues <%= @court.tuesopentime.strftime('%l:%M %p') %> to <%= @court.tuesclosetime.strftime('%l:%M %p') %>
									</div>
									<% end %>
									<% if :wedopentime.present? && :wedclosetime.present? %>
									<div class="row">
										Wed <%= @court.wedopentime.strftime('%l:%M %p') %> to <%= @court.wedclosetime.strftime('%l:%M %p') %>
									</div>
									<% end %>
									<% if :thursopentime.present? && :thursclosetime.present? %>
									<div class="row">
										Thurs <%= @court.thursopentime.strftime('%l:%M %p') %> to <%= @court.thursclosetime.strftime('%l:%M %p') %>
									</div>
									<% end %>
									<% if :friopentime.present? && :friclosetime.present? %>
									<div class="row">
										Fri <%= @court.friopentime.strftime('%l:%M %p') %> to <%= @court.friclosetime.strftime('%l:%M %p') %>
									</div>
									<% end %>
									<% if :satopentime.present? && :satclosetime.present? %>
									<div class="row">
										Sat <%= @court.satopentime.strftime('%l:%M %p') %> to <%= @court.satclosetime.strftime('%l:%M %p') %>
									</div>
									<% end %>
									<% if :sunopentime.present? && :sunclosetime.present? %>
									<div class="row">
										Sun <%= @court.sunopentime.strftime('%l:%M %p') %> to <%= @court.sunclosetime.strftime('%l:%M %p') %>
									</div>
									<% end %>
								</div>
							</div>-->