<!--can't edit or remove?-->

<%= form_for ([@court, @court.runs.new]) do |f| %>
<div class="col-md-12 price_form">
  <div class="row">
		<div class="col-md-12 price_tag">
        <p class="text-center">Schedule Availability</span>
		</div>
	</div>
  <p class="text-center">Let others know when you'll be here.</p>
  <div class="row">
    <div class="col-md-12">
      <%= f.text_field :start_time, placeholder: 'Start Date & Time', readonly: true, class: 'form-control' %>
    </div>
  </div>
  <br>
  <p class="text-center">UNTIL</p>

  <div class="row">
    <div class="col-md-12">
      <%= f.text_field :end_time, placeholder: 'End Date & Time', readonly: true, class: 'form-control' %>
    </div>
  </div>


  <%= f.hidden_field :court_id, value: @court.id %>
  <%= f.hidden_field :price, value: @court.price %>
  <%= f.hidden_field :total, id: 'run_total' %>

  <h4><span id="message"></span></h4>

	<div id="preview" style="display:none">
		<table class="run-table">
			<tbody>
				<tr>
					<td>Hour(s)</td>
					<td><span id="run_hours"></span></td>
				</tr>
				<tr>
					<td>Total</td>
					<td>$<span id="run_sum"></span></td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="col-md-12">
    <%= f.submit "Set Available Time", id: "btn_book", class: "btn btn-primary wide" %>
  </div>
  &nbsp;
</div>
<% end %>

<script>

  $(function() {

    $('#run_start_time').datetimepicker({
        formatTime:'g:i a',
        minDate: 0,
        minTime: 0,
    });

    $('#run_end_time').datetimepicker({
        formatTime:'g:i a',
        minDate: 0,
    });
  });


</script>

<!--<script>
  $(function() {
    $('#run_avail_date').datepicker({
        dateFormat: 'dd-mm-yy',
        minDate: 0
    });
  	$('#run_start_time').pickatime({
        onSelect: function(selected) {
        $('run_start_time').pickatime("option", "maxTime", selected);

        var start_time = $(this).pickatime('getTime');
        var end_time = $('#run_end_time').pickatime('getTime');
        var hours = (start_time - end_time)/1000/60/60

        var input = {
          'start_time': start_time,
          'end_time': end_time,
          'court_id': <%= @court.id %>
        }

        $.ajax({
          url: "/preview",
          data: input,
          success: function(data) {
            $('preview').show();
            $('btn_book').attr('disabled', true);

            var total = hours * <%= @court.price %>
            $('#run_hours').text(hours);
            $('#run_sum').text(total);
            $('#run_total').val(total);
          }
        });

  	});
  	$('#run_end_time').pickatime({
  		onSelect: function(selected) {
        $('run_start_time').pickatime("option", "maxTime", selected);

        var start_time = $('#run_start_time').pickatime('getTime');
        var end_time = $(this).pickatime('getTime');
        var hours = (start_time - end_time)/1000/60/60

        var input = {
          'start_time': start_time,
          'end_time': end_time,
          'court_id': <%= @court.id %>
        }

        $.ajax({
          url: "/preview",
          data: input,
          success: function(data) {
            $('preview').show();
            $('btn_book').attr('disabled', false);

            var total = hours * <%= @court.price %>
            $('#run_hours').text(hours);
            $('#run_sum').text(total);
            $('#run_total').val(total);
          }
        });
      }
  	});

  });
</script>-->
