<% @runs.order("start_time asc").each do |run| %>
	<div class="row">
			<div class="col-md-2">
				<%= image_tag @court.photos[0].image.url(:thumb) %>
			</div>
			<div class="col-md-10">
				<div class="row">
					<h5 style="font-weight:bold"><%= link_to @court.listing_name, @court %></h5>
					<p>From <%= run.start_time.strftime('%a %m/%d/%y %l:%M %p') %> to <%= run.end_time.strftime('%a %m/%d/%y %l:%M %p') %></p>
					<!--<p>With # others</p>-->
				</div>
				<div class="row" style="font-size:10px">									
					<%= link_to "I can't make it.", [@court, run], method: :delete, data: {confirm: "Are you sure you can't make it?"} if current_user && current_user == run.user %>
				</div>
			</div>
		</div>
		<hr>
<% end %>