<% if @reviews.count == 0 %>
	<h4>There are no reviews yet.</h4>

<% else %>
	<% @reviews.order("id desc").each do |r| %>
	<hr>

	<div class="row">
		<div class="col-md-1">
			<%= image_tag avatar_url(r.user), class: "img-circle avatar-medium" %>
		</div>
		<div class="col-md-11">
			<strong><%= r.user.fullname %> <div id="stars_<%= r.id %>"></div></strong>
		</div>

		<div class="col-md-offset-1 col-md-11"><%= r.created_at.strftime("%m/%d/%y") %></div>
		<div class="col-md-offset-1 col-md-11"><%= r.comment %></div>
		<br>
		<div class="col-md-offset-1 col-md-11">
				<%= link_to "Remove My Review", [@court, r], method: :delete, data: {confirm: "Are you sure?"} if current_user && current_user == r.user %>
		</div>
	</div>

	<script>
	$('#stars_<%= r.id %>').raty({
		path: '/assets',
		readOnly: true,
		score: <%= r.star %>
	});
	</script>

	<% end %>

<% end %>