<% if @reviews.count == 0 %>
	<h4>There are no reviews yet.</h4>

<% else %>
	<% @reviews.order("id desc").each do |review| %>
	<hr>

	<div class="row">
		<div class="col-md-1 col-xs-2">
			<%= image_tag avatar_url(review.user), class: "img-circle avatar-medium" %>
		</div>
		<div class="col-md-11 col-xs-10">
			<strong><%= review.user.fullname %> <div id="stars_<%= review.id %>"></div></strong>
		</div>

		<div class="col-md-offset-1 col-md-11 col-xs-offset-2 col-xs-10"><%= review.created_at.strftime("%m/%d/%y") %></div>
		<div class="col-md-offset-1 col-md-11 col-xs-offset-2 col-xs-10"><%= review.comment %></div>
		<br>
		<div class="col-md-offset-1 col-md-11 col-xs-offset-2 col-xs-10">
				<%= link_to "Remove My Review", [@court, review], method: :delete, data: {confirm: "Are you sure?"} if current_user && current_user == review.user %>
		</div>
	</div>

	<script>
	$('#stars_<%= review.id %>').raty({
		path: '/assets',
		readOnly: true,
		score: <%= review.star %>
	});
	</script>

	<% end %>

<% end %>