<div class="row">
  	<div class="col-md-3">
  		<ul class="sidebar-list">
  	  		<li class="sidebar-item"><%= link_to "Courts", courts_path, class: "sidebar-link" %></li>
  	  		<li class="sidebar-item"><%= link_to "Reviews", court_reviews_path, class: "sidebar-link active" %></li>
  	  		<li class="sidebar-item"><%= link_to "Photos", courts_path, class: "sidebar-link" %></li>
  	  		<li class="sidebar-item"><%= link_to "Runs", courts_path, class: "sidebar-link" %></li>
  	  		<li class="sidebar-item"><%= link_to "Reports", courts_path, class: "sidebar-link" %></li>
  	  		<li class="sidebar-item"><%= link_to "Bookmarks", courts_path, class: "sidebar-link" %></li>
  		</ul>
  	</div>
  	<div class="col-md-9">
  	  	<div class="panel panel-default">
  	  		<div class="panel-heading text-center">
  	  			Listings
  	  		</div>
  	  		<div class="panel-body">
	  	  		<% @courts.each do |court| %>
	  	  		  	<div class="row">
	  	  		  		<div class="col-md-2">
	  	  		  			<%= link_to court do %>
	  	  		  			<%= image_tag court.show_first_photo %>
	  	  		  			<% end %>
	  	  		  		</div>  	  		  		
	  	  		  		<div class="col-md-7">
	  	  		  			<h4><%= link_to court.listing_name, court %></h4> 
	  	  		  		</div>
	  	  		  		<div class="col-md-3 right">
	  	  		  			<%= link_to "Update", edit_court_path(court), class: "btn btn-primary" %>
	  	  		  		</div>  	  		  		
	  	  		  	</div>
	              <hr>
	  	  		<% end %>
	  	  	<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
  		</div>
  	</div>
</div>