<!DOCTYPE html>
<html>
<head>
  <title>collectif | let's get fit, collectively.</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
  <link href='http://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width", initial-scale=1">
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <%= render 'shared/homenav' unless @disable_homenav %>
	<%= render 'shared/navbar' unless @disable_nav %>
	<div class="container">
    <%= render 'shared/message' %>
  </div>
	<div class="container">
  <%= yield %>
  </div>

  <script>
    $('#use-location-button').on('click', function() {
      function onSuccess(location) {
        var coords = location.coords.latitude + "," + location.coords.longitude;
        $('#address').val(coords);
      }

      function onError(err) {
        alert("Error getting location: " + err.code);
      }

      navigator.geolocation.getCurrentPosition(onSuccess, onError);
    });

</script>

</body>

<footer>
  <!--copyright, back to top, etc. -->
</footer>
</html>
